.clients-wrap{
    height: 100%;
    display: flex;
}

.clients-list{
    min-width: 320px;
    width: 25%;
    height: 100%;
    border-right: 1px solid #eee;
    overflow-y: scroll;
    overflow-x: hidden;   
}

.client-item{
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #eee;
}

.client-item:hover{
    cursor: pointer;
    background: #eff7fe;
}

.client-item img{
    width: 64px;
    padding: 7px;
    box-sizing: border-box;
}

.client-item-info p{
    margin: 7px 0;
}

.clients-detail{
    display: flex;
    flex-wrap: wrap;
}

.clients-detail img{
    width: 128px;
    height: 128px;
    margin: 40px;
}

.client-detail-info{
    margin: 40px 0;
}

.client-detail-info>p:first-child{
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
}

.client-detail-info>p{
    font-size: 18px;
    margin: 12px 0;
    font-weight: 400;
}

.client-detail-info .address{
    margin: 30px 0;
}
