/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    height: 100%;
    margin: 0;
    font-family: Roboto;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 182, 182);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(165, 162, 162); 
}